.container {
    position: absolute;
    left: 125px;
    right: 40px;
    height: 300px;
    width: 50%;
    margin: 0px;

    &.top {
        top: 5%;
    }

    &.bottom {
        bottom: 30%;

        span {
            color: white;
        }
    }
}

ion-slides {
    height: 100%;
    
    .slide-inner {
        width: 75%;
        color: white;
        background-color: #d2561d;
        border-radius: 15px;

        ion-item {
            --background: #f1ab296e;
            --border-radius:15px;

            ion-input {
                --color: white;
            }
        }

        ion-button {
            --border-radius:15px;
        }
    }
}
.oceano {
    position: absolute;
    left: 0;
    right: 20px;
    bottom: 0;
    height: 45%;
    background: var(--ion-color-primary);

    .ondas {
        position: absolute;
        top: -60px;
        left: 0;
        right: 0;
        height: 95px;
        background-image: url('/assets/img/foguito2.png');
        background-size: contain;
        transition: all 0.5s;
    } 
}